apidocs/
bin/
gen/
out/
target/
classes/
gen-external-apklibs/
.idea/
local.properties
project.properties
ant.properties
proguard-project.txt
*~
*.swp
*.swo
*.iml
cbsrc
*.DS_Store
.classpath
lint.xml
.project
.settings/
release.properties
libs/doclava-1.0.5.jar
*/build/*
.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
push_maven.gradle
